body{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;

    font-family: 'Josefin Sans', sans-serif;
    text-transform: capitalize;
    overflow: hidden;
    margin:0 auto;
}
.box{
    margin-top: 50px;
    display: flex;
    height: 100%;
    width: 50rem;
    background:#E8EDDF;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 5px 2px 5px 2px;
    flex-direction: column;
}
.icon{
    margin-left: 5px;
}
.lst{
    background-color: #CFDBD5;
    color: #6C91BF;
    width: 16px;
    margin: 2rem;
    width: 40rem;
}
.btn{
    background-color:#CFDBD5;
    border-start-end-radius: 50%;
}
.btn:hover{
    opacity: 0.6;
    transform: scale(.9876)
}

h1{
    text-shadow: blueviolet 2px 2px;

    color: #5FB0B7;
}
.list{
    height: 3rem;
    margin: 6rem;
    width: 100%;
    
}
.tr{

    margin-left: 5rem;
    color: #CFDBD5;
    background-color: #E8EDDF;
    border: 0px;
    position: fixed;
    left:66rem;
    opacity: 0.976;
}
.tr:hover{
    cursor: pointer;
    transform: scale(1.1);
      
}
.check{
    text-decoration-line: line-through;
}
.note:hover{
    cursor: pointer;
    opacity: 0.5    ;
}
.note{
    box-shadow: #CFDBD5;
    text-overflow: ellipsis;
    display: flex;
    text-align: left;
    padding: .5rem;
    font-size: 1.5rem;
    text:3rem;
    margin-top: 2rem;
    text-transform: capitalize;
    width:100%;
    background: #CFDBD5;
    align-items: flex-end;
    color:#848C88;
}
